===============================================

Hi there,

<b>Here is the summary of your recent purchase</b>

<table>
  <tr>
    <%
    total = 0
    @lis.each do |li|%>
      <td><%=li.product.name%></td>
      <td><%=li.product.description%></td>
      <td><%=li.quantity%></td>
      <td>$<%=li.product.price%></td>
     <%
     total += li.product.price
     end%>
  </tr>
  <tr>
    <td colspan=3>Total:</td><td>$<%=total%></td>
  </tr>
</table><br/>

Thanks for ordering with us!!
