<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <%if product.quantity > 0%>
      <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', method: :put do %>
        <%= fa_icon "shopping-cart", text: 'Add' %>
      <% end %>
    <%end%>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>
  <% if product.quantity == 0 %>
    <aside class="sold_out">
      Sold Out
    </aside>
  <%else
   prod_review = 'n/a'
   revs = product.reviews
   total = 0
   number = 0
   if revs.size > 0
     revs.each do |r|
       number += 1
       total += r.rating
     end
     prod_review = (total.to_f / number)
     #prod_review = ((prod_review * 100).round)/100
     prod_review = prod_review.round(1)
   end

  %>
    <aside class="sold_out">
      Rate <%=prod_review%>
    </aside>

  <%end%>

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
</article>
